
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title>Queues</ion-title>
  <ion-buttons end>
    <button danger class="right transparent" (click)="test = !test"><ion-icon name="ios-search"></ion-icon></button>
    </ion-buttons>
</ion-navbar>

<ion-content class="queues">
	<ion-searchbar *ngIf="test" [focuser] debounce="700" (cancel)="test = !test" (input)="searchItems($event)" [(ngModel)]="term" placeholder="Enter to search" (search)="getSearch($event)"></ion-searchbar>
	<img *ngIf="busy" class="imglogo" src="img/loading2.gif"/>
 	<ion-list class="ajax" [hidden]="!search_results">
        <a detail-none href=# ion-item *ngFor="let item of search_results" (click)="gotoTicket(item)">
            <h2>{{item.status}} | #{{item.number}} - {{item.subject}} ({{item.user_firstname}} {{item.user_lastname}})</h2>
        </a>
    </ion-list>
 <p class="general-alignment"></p>
    <queues-list margin-top [queues]="queues" [simple]="true"></queues-list>
    <span class="span-block"></span> 
</ion-content>
<action-button></action-button>