
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title class="padding-right24">Timelogs {{params.account_name ? "of " + params.account.name : ""}}</ion-title>
</ion-navbar>

<ion-content>
    
    <ion-list class="list general-alignment2" no-lines>
        <img *ngIf="busy" class="imglogo img-padding" src="img/loading2.gif">
        <ion-item-sliding class="border padding-bottom5px" *ngFor="let time of timelogs | async" #slidingItem>
        <a detail-none href=# ion-item (click)="itemTapped(time)" class="margin-top0">
    <ion-avatar padding item-left class="img_padding margin admin padding-left padding-bottom0">
            <li class="center avatarText height77">
                <img *ngIf="time.user_email" [alt]="time.user_firstname" class="ava" [src]="time.user_email | Gravatar"/>
                <p class="admin color">{{time.user_name}} {{time.user_lastname}}</p></li>
        </ion-avatar>
            <div>
    <li class="right width25 margin font-time text-align_center">
    <ion-icon class="margin color" item-right name="time">&nbsp;</ion-icon>
    <p class="font-hours color">{{getFixed(time.hours)}}</p>
        <p class="color">{{time.date}}</p>
      </li>
 <span class="text-left width75 left">
<!--    <h2 class="ellipsis color">{{"#"+time.ticket_number+": "+time.ticket_subject}}</h2>-->
     <h3 class="timelogs ellipsis color tickets height64" [innerHTML]="time.note | Linebreaks"></h3></span>
     </div>
  </a>
        </ion-item-sliding>
    </ion-list> 
    <div *ngIf="is_empty" class="table grey2 menu-text">No Timelogs yet</div>
        
 <ion-infinite-scroll (infinite)="doInfinite($event)" threshold="30%">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<button (click)="itemTapped()" secondary item-right fab fab-right fab-bottom style="z-index: 2"><ion-icon class="button_circle action-but" name="md-add"></ion-icon></button>

