.timelog-item{
    padding-bottom: 5px;
}

.timelog-item a{
    margin-top: 0px;
}

.timelog-item ion-avatar{
    padding-bottom: 0px;
    width: 90px;
}

.timelogs {
//    white-space: initial !important;
//    display: -webkit-box;
    width: 100%;
    line-height: 20px !important;
    color: $text-color;
}

.font-time{
font-size: 14px;
}

.font-hours{
    font-size: 19px !important;
    font-weight: 600;
}

.white-space {
    white-space: initial !important;
    }

.height77{
height: 77px !important;
}

.height64{
height: 64px !important;
}

.ava{
    margin-bottom: 13px;
    margin-top: 8px;
}

.padding-top5{
    padding-top: 5px;
}

.padding-bottom5px{
    padding-bottom: 5px;
}

.padding-bottom0{
    padding-bottom: 0px;
    padding-top: 0px;
}

.width56px{
    width: 56px;
}