.p {color: $text !important;}
.h2 {color: $text !important;}

.timelog-item{
    padding-bottom: 5px;
    border-bottom: 1px solid $grey2;

a{
    margin-top: 0px;
    color: $text;
}

ion-avatar{
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 80px;
    overflow: hidden;
    padding-right: 15px;
}

ion-avatar li{
    text-align: -webkit-center;
    height: 77px !important;
    line-height: 8px;
    color: $grey2;
    font-size: 1.6rem;
    }

ion-avatar li img{
    margin-top: 6px;
    margin-bottom: 2px;
}

    ion-avatar li p{
    margin: 0px !important;}
}

.font-hours{
    font-weight: 600;
    float: right;
    width: 55px;
    margin: 0px !important;
    text-align: center;
    font-size: 1em !important;


ion-icon{
    padding-left: 7px;
    color: $text;
}

    h2{
    color: $text !important;
}
    h2.outline_white{
    color: #34495d !important;
    font-weight: 500;
    font-size: 1.7rem;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
    }

.timelog-span{
   width:77%;
   float: left;
    text-align: left !important;


h3{
    //height: 64px !important;
    white-space: initial !important;
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px !important;
    text-overflow: ellipsis;
}
h3.marginNO{
    margin-bottom: 0px !important;
}
}
.marginNO{
    margin: 0px !important;
}

.timelogs {
    width: 100%;
    line-height: 20px !important;
    color: $text-color;
}