.timelogs {
//    white-space: initial !important;
//    display: -webkit-box;
    width: 100%;
    line-height: 20px !important;
    color: $text-color;
}

.font-time{
font-size: 14px;
}

.font-hours{
    font-size: 19px;
    font-weight: 600;
}

.white-space {
    white-space: initial !important;
    }

.height77{
height: 77px !important;
}

.height64{
height: 64px !important;
}

.ava{
    margin-bottom: 7px;
    margin-top: 8px;
}

.padding-top5{
    padding-top: 5px;
}

.padding-bottom5px{
    padding-bottom: 5px;
}
