.border{
   border-bottom: 1px solid $grey2;
    
ion-avatar{
    padding-bottom: 30px;
    width: 100px;
    margin: 0px !important;
    -webkit-box-orient: vertical;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
    padding-left: 0px !important;
}
    
    ion-avatar li{
    text-align: -webkit-center;
    height: 77px;
    line-height: 8px;
    color: $grey2;
    font-size: 1.6rem;
}
    
    ion-avatar li span{
    font-weight: bold;
    margin: 0px !important;
    }
        
ion-avatar li img p{
    color: $text !important;
     -webkit-box-orient: vertical;
    width: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    padding-bottom: 20px;

}}
.postGrey{
    padding: 0px 15px;
}
.postGrey * {
    color: #dadada;
    font-size: 1.4rem !important;
    }
.postGrey table{
    display:none;
}
.alignment{
    margin-top: 1px;
    
  li{
    text-align: left !important;
    }
    
   h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     padding-bottom: 3px;
       color: $text !important;
    }
    
    ion-icon{
    vertical-align: middle;
    line-height: 8px;
    margin-left: 1px;
    }
    
    h3{
    white-space: initial !important;
     display: block;
    display: -webkit-box;
    width: 100%;
    height: 63px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px !important;
    text-overflow: ellipsis;
    color: $grey2;
    margin: 0px !important;}
        
    p{
        color: $grey2 !important;
        float: right;
        white-space: initial !important;
        text-align: right;
    }}

.ticketImg{
    margin-top: 10px;
    margin-bottom: 7px;
    height: 94px;
}

.Tktlist{
    width:100% !important;
}