.admin {
    font-size: 1.3rem;
}

.ticketImg{
    margin-top: 10px;
    margin-bottom: 7px;
    height: 94px;
}

.border{
    border-bottom: 1px solid $grey2;
} 

.img_padding{
    padding-bottom: 22px;
    width: 105px;
}

.avatarText{
    line-height: 0.5;
    color: #c8c7cc;
    font-size: 1.6rem;
    height: 77px;
    float: left;
}

.tickets {
    white-space: initial !important;
        display: block;
    display: -webkit-box;
    width: 100%;
    height: 60px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 20px !important;
    text-overflow: ellipsis;
    color: #dadada;
}

.alignment{
    margin-top: 7px;
}

.icon-ticket{
    vertical-align: middle;
    line-height: 8px;
    margin-left: 1px;
}


