
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title class="padding-right24">ToDo's</ion-title>
</ion-navbar>       
<ion-content>                                                                                                                

    <div class="todos list general-alignment">
        <img *ngIf="busy" class="imglogo img-padding" src="img/loading2.gif"/>
        <div class="blue4 alignment-bottom" style="height: 50px;" (click)="hidden = !hidden">
            <span><ion-icon [ngClass]="{'ion-ios-arrow-down font18 margin-top3 margin-right10':!hidden, 'pr8 button-arrow ion-ios-arrow-forward':hidden}" class="left todos-arrow padding-left15 left" role="img"></ion-icon><h5 style="color:white">ToDo's</h5></span>
            <button fab class="right buttonInvoice email-invoice position-initial margin-right10 general-alignment2">{{undone}}</button></div>
                        <block [hidden]="hidden">
         <template ngFor let-todo [ngForOf]="todos | async" let-even="even" let-odd="odd">
         <div (click)="todo.hidden = !todo.sub?.length || !todo.hidden"> 
                <ion-icon [style.visibility]="!todo.sub?.length ?'hidden':'inherit'" role="img" [ngClass]="{'ion-ios-arrow-down font18  margin-right10':!todo.hidden, 'pr8 button-arrow ion-ios-arrow-forward left':todo.hidden}" class="todos-arrow padding-left15"></ion-icon><h5>{{todo.name}}</h5><ion-icon name="md-create" role="img" class="ion-md-create padding-left15 todos-arrow right" aria-label="arrow down"></ion-icon>
         </div>

         <template [ngIf]="!todo?.hidden">
         <template ngFor let-subtodo [ngForOf]="todo?.sub" let-last="last" let-even="seven" let-odd="sodd">
         <div (click)="subtodo.is_completed = !subtodo.is_completed;setDone(subtodo)">
            <ion-icon [ngClass]="{'ion-ios-checkmark-circle secondary' : subtodo.is_completed, 'ion-ios-radio-button-on grey2' : !subtodo.is_completed}" class="font18 todos-padding margin-top3"></ion-icon><h5 [ngClass]="{'decoration_line grey3_color' : subtodo.is_completed, '' : !subtodo.is_completed}">{{subtodo.name}} <i *ngIf="subtodo.text">{{" - " + subtodo.text}}</i></h5><ion-icon name="md-create" role="img" class="ion-md-create padding-left15 todos-arrow right" aria-label="arrow down"></ion-icon></div>
            <div class="right">
             <h6></h6> 
                <h6 *ngIf="subtodo.assigned_name">{{subtodo.assigned_name}}</h6> 
                <h6 *ngIf="subtodo.due_date">Due&nbsp;{{setDate(subtodo.due_date)}}</h6>
                <h6 *ngIf="subtodo.estimated_remain">{{getFixed(subtodo.estimated_remain)}}&nbsp;hrs</h6>
            </div>
             <hr *ngIf="!last" class="width90"/>
            </template>
            </template>
             <hr class="width100"/>
            </template>
            </block>
         </div>
     </ion-content>
