
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>

  <ion-title>{{ticket.status}} | <a href=# (click)="getFullapplink(ticket.key)" class="text-decor">{{ticket.number}}&nbsp;<ion-icon class="outline" name="ios-open-outline"></ion-icon></a></ion-title>
</ion-navbar>

<ion-content>
  <ion-toolbar class="blue3">
     <h4 class="subject-padding ticket-details margin-top0 padding subject-ticket text-left width48 left">{{ticket.subject}}</h4>
   <span class="left width45" no-lines>
    <p *ngIf="config.current.is_class_tracking" class="text-right grey4 margin">{{ticket.class_name}}</p>
    <p *ngIf="config.current.is_location_tracking" class="text-right margin">{{ticket.location_name}}</p>
    <p class="text-right grey4 margin" [innerText]="techname"></p>
    <p class="text-right grey4 margin">{{ticket.days_old_in_minutes | Daysold}}</p>
    <p  *ngIf="config.current.is_expenses && ticket.misc_cost > 0" class="text-right grey4 margin">Expenses:  {{getCurrency(ticket.misc_cost)}}</p>
    <p *ngIf="config.current.is_time_tracking && ticket.total_hours > 0" class="text-right grey4 margin">{{ticket.total_hours}} Hours</p>
    <p *ngIf="ticket.sla_complete_date != null" class="text-right grey4 margin">SLA: {{setDate(ticket.sla_complete_date, false, true)}}</p></span>
  </ion-toolbar>
    <ion-segment class="tabsTicket"  [(ngModel)]="details_tab">
      <ion-segment-button class="segment-ticket" value="Reply">
        Reply
      </ion-segment-button>
      <ion-segment-button class="segment-ticket" value="Info">
        Info
      </ion-segment-button>
      <ion-segment-button class="segment-ticket" value="Notes">
        Notes
      </ion-segment-button>
      <ion-segment-button class="segment-ticket" value="Files">
        Files
      </ion-segment-button>
      <ion-segment-button class="segment-ticket" value="Options">
        Options
      </ion-segment-button>
    </ion-segment>
  <div [ngSwitch]="details_tab">
   <div class="list general-alignment" *ngSwitchWhen="'Reply'">

     <posts-list [posts]="posts | slice:0:1" [attachments]="attachments"></posts-list>
     <form *ngIf="active" #addForm="ngForm" class="response-ticket">
       <div class="tooltips">
        <textarea class="width100 textLogin commentText" [(ngModel)]="ticketnote" type="text" placeholder="Add Response" ngControl="note" #note="ngForm" required maxlength="4000"></textarea>
        <span [hidden]="note.valid || note.untouched">Response is required and less 5000 chars</span></div>
        <button secondary class="button_reply right" [disabled]="!addForm.valid" (click)="onSubmit(addForm)"  type="submit">Reply</button>
        <button *ngIf="!config.current.is_tech && ticket.status != 'Closed'" secondary class="button_reply right" (click)="onClose(addForm)" [disabled]="!addForm.valid">Reply & Close</button>
      </form>

      <posts-list [posts]="posts | slice:1" [attachments]="attachments"></posts-list>

    </div>

    <div *ngSwitchWhen="'Info'" class="list max-width700 general-alignment">

      <class-list preload="true" [list]="selects.class" (onChanged)='saveSelect($event)'></class-list>

      <select-list preload="true" [list]="selects.level" (onChanged)='saveSelect($event)'></select-list>

      <select-list preload="true" [list]="selects.priority" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list preload="true" [list]="selects.tech" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list preload="true" [list]="selects.location"  ajax="true" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list preload="true" [list]="selects.project" (onChanged)='saveSelect($event)'></select-list>
      <button *ngFor="let customfield of ticket.customfields" class="width100 button-icon-only {{ isbutton? 'blue2 general-alignment2' : 'blue4'}} class-margin disable-hover button button-default">
        <p class="textLogin text-left text-bold">{{customfield.name}}&nbsp;</p>
        <ion-label class="{{isbutton ? 'center' : 'tkts-table'}} select-list">{{customfield.value || '&nbsp;'}}&nbsp;</ion-label>
      </button>

      <button secondary block (click)="onUpdate()" type="submit" class="img-top disable-hover button button-default button-block">Update</button>
    </div>
    <ion-list class="list general-alignment max-width700" *ngSwitchWhen="'Notes'">
      <div *ngIf="workpad.length" class="width100 textLogin note-account" [innerHTML]="workpad" type="text"></div>

      <textarea [(ngModel)]="workpad" class="width100 textLogin commentText" type="text" placeholder="Notes:"></textarea>
      <button secondary 
      class="button_reply img-top right" (click)="saveNote()">Save Notes</button>
    </ion-list>
    <ion-list class="list img-top" no-lines *ngSwitchWhen="'Files'">
     <div [hidden]="attachments?.length" class="table grey2 menu-text">No Files yet</div>
     <ion-item *ngFor="let file of attachments">
      <div class="left width59 tkts-table" [innerHTML]="getFileLink(file)"></div>
      <h3 class="right width38 text-left space-initial">{{file.name}}</h3>
    </ion-item>
  </ion-list>
  <div *ngSwitchWhen="'Options'" class="list max-width700 general-alignment">
  <button *ngIf="config.current.is_time_tracking" (click)="addTime()" secondary block type="submit" class="disable-hover button button-default button-block class-margin">Add Time</button>
    <button *ngIf="config.current.is_expenses" (click)="addExpense()" secondary block type="submit" class="disable-hover button button-default button-block general-alignment2 class-margin">Add Expense</button>

    <select-list preload="true" [isbutton]="true" [list]="selects.technician" (onChanged)='transferTicket($event)'></select-list>

    <button *ngIf="(ticket.technician_email || ticket.tech_email) != he.email" (click)='pickUp()' block type="submit" class="blue2 class-margin">Pick Up Ticket</button>

    <button (click)="closeTicket()" block type="submit" class="general-alignment2 blue2 class-margin right">{{ticket.status != 'Closed' ? 'Close Ticket' : 'ReOpen Ticket'}}</button>
  </div>
</div>
</ion-content>
