
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>

  <ion-title class="padding-right24">{{ticket.status}} | <a href=# (click)="getFullapplink(ticket.key)" class="text-decor">{{ticket.number}}&nbsp;<ion-icon class="outline" name="ios-open-outline"></ion-icon></a></ion-title>
</ion-navbar>

<ion-content>
  <ion-toolbar class="blue3">
   <h4>{{ticket.subject | Htmlsafe}}</h4>
   <span no-lines class="span-left">
    <p *ngIf="config.current.is_class_tracking">{{ticket.class_name}}</p>
    <p *ngIf="config.current.is_account_manager">{{ticket.account_name}}</p>
    <p *ngIf="config.current.is_location_tracking">{{ticket.location_name}}</p>
    <p [innerText]="username"></p>
    <p [innerText]="techname"></p>
    </span>
       <span class="span-right">
       <p>{{ticket.days_old_in_minutes | Daysold}}</p>
       <p  *ngIf="config.current.is_expenses && ticket.misc_cost > 0">Expenses:  {{getCurrency(ticket.misc_cost)}}</p>
    <p *ngIf="config.current.is_time_tracking && ticket.total_hours > 0">{{ticket.total_hours}} Hours</p>
    <p *ngIf="ticket.sla_complete_date != null">SLA: {{setDate(ticket.sla_complete_date, false, true)}}</p></span>
  </ion-toolbar>
  <ion-segment [(ngModel)]="details_tab">
    <ion-segment-button value="Reply">
      Reply
    </ion-segment-button>
    <ion-segment-button value="Info">
      Info
    </ion-segment-button>
    <ion-segment-button value="Notes">
      Notes
    </ion-segment-button>
    <ion-segment-button value="Files">
      Files
    </ion-segment-button>
    <ion-segment-button value="Options">
      Options
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="details_tab">
   <div class="list" *ngSwitchWhen="'Reply'">
      <ion-item no-lines class="margin-bottom10"><ion-label class="width30 font-size17 text-right">Show logs</ion-label><ion-toggle [(ngModel)]="is_showlogs"></ion-toggle></ion-item> 
     <posts-list [posts]="posts | slice:0:1" [attachments]="attachments"></posts-list>
     <form *ngIf="active" #addForm="ngForm">
       <div class="tooltips">
        <textarea class="width100 textLogin commentText" [(ngModel)]="ticketnote" type="text" placeholder="Add Response" ngControl="note" #note="ngForm" required maxlength="4000"></textarea>
        <span [hidden]="note.valid || note.untouched">Response is required (max 5000 chars)</span></div>
        <button secondary class="button_reply right indent-bottom margin-left10" [disabled]="!addForm.valid && !files?.length" (click)="u.onUpload()"  type="submit">Reply</button>
        <button *ngIf="!config.current.user.is_techoradmin && ticket.status != 'Closed'" secondary class="button_reply right indent-bottom margin-left10" (click)="u.onUpload()" [disabled]="!addForm.valid && !files?.length">Reply & Close</button>
               <upload-button #u (filesUploaded)="uploadedFile($event)"   
            (filesSelected)="selectedFile($event)"     
            btnStyle="add-circle"               
            [allowMultiple]="true"
            [fileDest]="fileDest"
            [logCallback]=""></upload-button>
      </form>
      <posts-list [posts]="posts | slice:1" [attachments]="attachments" class="general-alignment" [is_showlogs]="is_showlogs"></posts-list>

    </div>

    <div *ngSwitchWhen="'Info'" class="list max-width700 general-alignment">

      <select-list is_me="true" ajax="true" [list]="selects.user" (onChanged)='saveSelect($event)' preload="true"></select-list>
            
      <select-list [list]="selects.account" preload="true" ajax="true" (onChanged)='saveSelect($event)'></select-list>

      <class-list preload="true" [list]="selects.class" (onChanged)='saveSelect($event)'></class-list>

      <select-list preload="true" [list]="selects.level" (onChanged)='saveSelect($event)'></select-list>

      <select-list preload="true" [list]="selects.priority" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list is_me="true" preload="true" [list]="selects.tech" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list preload="true" [list]="selects.location"  ajax="true" (onChanged)='saveSelect($event)'></select-list>
      
      <select-list preload="true" [list]="selects.project" (onChanged)='saveSelect($event)'></select-list>
      
      <button *ngFor="let customfield of ticket.customfields" class="width100 button-icon-only {{ isbutton? 'blue2 general-alignment2' : 'blue4'}} class-margin disable-hover button button-default">
        <p class="textLogin text-left text-bold" [innerHTML]="customfield.name"></p>
        <ion-label class="{{isbutton ? 'center' : 'tkts-table'}} select-list">&nbsp;&nbsp;{{customfield.value || '&nbsp;'}}</ion-label>
      </button>

      <button secondary block (click)="onUpdate()" type="submit" class="img-top disable-hover button button-default button-block">Update</button>
    </div>
    <ion-list class="list general-alignment max-width700" *ngSwitchWhen="'Notes'">
      <div [hidden]="is_editnote || !ticket?.workpad?.length" class="width100 textLogin note-account" [innerHTML]="ticket?.workpad" type="text"></div>

      <textarea [hidden]="!is_editnote" [ngModel]="ticket?.workpad" class="width100 textLogin commentText" #workpadtext type="text" placeholder="Notes:"></textarea>
      <button [hidden]="is_editnote" secondary class="button_reply right width100" (click)="is_editnote = true">{{ticket?.workpad?.length ? 'Edit' : 'Add'}} Notes</button>
      <button [hidden]="!is_editnote" secondary class="button_reply img-top right " (click)="saveNote(workpadtext)">Save Notes</button>
    </ion-list>
    <ion-list class="list img-top" no-lines *ngSwitchWhen="'Files'">
     <div [hidden]="attachments?.length" class="table grey2 menu-text">No Files yet</div>
     <ion-item *ngFor="let file of attachments">
      <div class="left width59 tkts-table" [innerHTML]="getFileLink(file)"></div>
      <h3 class="color right width38 text-left space-initial">{{file.name}}</h3>
    </ion-item>
  </ion-list>
  <div *ngSwitchWhen="'Options'" class="list max-width700 general-alignment">
    <button *ngIf="config.current.is_time_tracking" (click)="addTime()" secondary block type="submit" class="disable-hover button button-default button-block class-margin">Add Time</button>
    <button *ngIf="config.current.is_expenses" (click)="addExpense()" secondary block type="submit" class="disable-hover button button-default button-block general-alignment2 class-margin">Add Expense</button>

    <select-list preload="true" [isbutton]="true" [list]="selects.technician" (onChanged)='transferTicket($event)'></select-list>

    <button *ngIf="(ticket.technician_email || ticket.tech_email) != he.email" (click)='pickUp()' block type="submit" class="blue2 class-margin">Pick Up {{config.current.names.ticket.s}}</button>

    <button (click)="closeTicket()" block type="submit" class="general-alignment2 blue2 class-margin right">{{ticket.status != 'Closed' ? 'Close' : 'ReOpen'}} {{config.current.names.ticket.s}}</button>
  </div>
</div>
</ion-content>
