.ticket-details{
    white-space: initial !important;
    height: 84px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 24px;
    text-overflow: ellipsis;
}

.subject-padding{
    padding-top: 20px;
}


.response-ticket{
    margin-bottom: 86px;
}

.avatar-ticket{
    padding-right: 39px;
}

.ticket-button{
    margin: 0.3rem 1.6rem;
    height: 1.8em;
    font-size: 1.3rem;
}