// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #fff,
  secondary:  #42bd41,
    dark:       #489cd6,
    light:      rgba(131,131,131,0.82),
    danger:     #25b0e6,
  /*danger:     #f53d3d,
  light:      #f4f4f4,
  favorite:   #69BB7B*/
  tabs: #34495e
  );


$grey: rgba(224, 224, 224, 0.29);
$grey2: #dadada;
$blue1: #25b0e6;
$blue2: #09c;
$blue3: rgba(0,0,0,0.4);
$blue4: #489cd6;
$background-color: #34495e;
$toolbar-background: #25b0e6;
$text-color: #fff;
$toolbar-border-color: #25b0e6;
$toolbar-text-color: #fff;
$toolbar-inactive-color: #000;
$sherpa_bg: #161E27; 
$headings-line-height: #34495e;
$font-size: 2rem;
$card-ios-header-color: $text-color;
$card-ios-background-color: $blue3;
$card-ios-border-radius: 0px;
$segment-button-ios-bg-color-activated: $text-color;
$color-value: $headings-line-height;
$item-ios-body-text-font-size: $font-size;
$item-ios-paragraph-text-color: $text-color;
$item-ios-note-color: #aeacb4;
$button-ios-border-radius: 3px;
$checkbox-ios-icon-border-radius: 0px;
$label-ios-text-color: $text-color;
$segment-button-ios-border-radius: 0px;
/*$background-color: #fff;
$toolbar-background: #ffac30;
$text-color: #000;
$toolbar-border-color: #ffac30;
$toolbar-text-color: #fff;*/
