// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/hello-ionic/hello-ionic";

@import "../pages/item-details/item-details";

//item

.item {
    text-align: center;
    margin-top: 10px;
}

.item h2 {
    font-size: 1.9rem;
}

.itemTech {
    margin-top: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.item-nocenter {
    text-align: justify !important;
    margin-top: 0px !important;  
}


// text/
.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

p {
    color: $item-ios-paragraph-text-color;
  }

.textLogin {
    text-align: left;
    padding-left: 15px;
}

.tablText {
    color: $label-ios-text-color;
}

.avatarText{
line-height: 0.5;
    color: #c8c7cc;
    font-size: 1.6rem;
//    width: 50%;
    height: 77px;
    float: left;
}

.list{
    width: 90%;
    margin: 0 auto;
 }

.left{
    float: left;
}

.right{
    float: right;
}

.margin {
    margin: 0px !important;
}

.height{
height: 180px;
}

.indent{
padding-top: 30px;
}

scroll-content {
    overflow-y: auto;
}

.timeleft{
    width: 76%;
    float: left;
}

.img{
    margin-bottom: 8px;
//    margin-left: 8px;
    margin-top: 8px;
}

.img_padding{
    padding-bottom: 10px;
    width: 105px;
}

.admin{
-webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 19px;
    text-overflow: clip;
}

.center{
    text-align: -webkit-center;
    }

.segment-button{
   color: $segment-button-ios-bg-color-activated;
   border-color: $color-value;
}

.select-icon .select-icon-inner {
    color: #fff;
}

.item-button {
    font-size: 1.6rem;
}

.googleStripes {
    list-style-type: none;
    width: 100%;
    height: 5px;
    margin: auto;
    padding-left: 0px;
}

.googleStripes li {
    float: left;
    width: 25%;
    height: 100%;
    background-color: olive;
}

.googleStripes li:nth-child(1) {
    background-color: #e74c3c;
    border-radius: 3px 0 0 0;
}

.googleStripes li:nth-child(2) {
    background-color: #3498db;
}

.googleStripes li:nth-child(3) {
    background-color: #27ae60;
}

.googleStripes li:nth-child(4) {
    background-color: #f1c40f;
    border-radius: 0 3px 0 0;
}

//color
.blue1 > * {
    background-color: $blue1;
}

.blue2 > * {
    background-color: $blue2;
}

.blue3 > * {
    background-color: $blue3;
}
  
.blue4 > * {
    background-color: $blue4;
}

.grey > * {
    background-color: $grey;
}

.grey2{
color: $grey2 !important;
}

.imglogo{
    display: block;
    margin: auto;
}



.table{
text-align: center;
    }

.table span.box1{
    background-color: $grey;
    width: 35%;
    float: left;
    padding-left: 15px;
}

.table span.box2{
    background-color: $grey;
    width: 23%;
    float: left;
}

.table span.box3{
    background-color: $grey;
    width: 23%;
    float: left;
    margin-bottom: 10px;
}

.table span.box4{
    background-color: $blue2;
    width: 18%;
    float: right;
}

.table span.box5{
    background-color: $blue1;
    width: 75%;
    float: left;
    margin-bottom: 10px;
}

.table span.box6{
    background-color: $blue2;
    width: 25%;
    float: right;
    margin-bottom: 10px;
}

.table span.box7{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table span.box9{
    background-color: $grey !important;
    }

.tableText{
line-height: 2.4;
        font-size: 2rem;
}

//button

.buttonTicket{
    width: 50px;
    height: 50px;
}

.button {
color: #fff;
}

.button_circle {
    font-size: 3.8em !important;
}

.button_circle2 {
    font-size: 2.8em !important;
}

.billable {
    font-size: 26px;
    height: 40px;
    float: left;
    margin-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
}


//menu
.ionFont {
    font-size: 26px;
    padding-right: 10px;
     width: 40px;
    height: 40px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: center;
}

.menu-bg{
 background-color: $sherpa_bg; 
}


//invoice

.invoiceCircle {
    font-size: 2.3em !important;
}

.buttonInvoice {
    width: 30px;
    height: 30px;
}

.topInvoice {
    top: 4px;
}

.activeBorder {
    border: 2px solid #88ddfa !important;
}


//width

.width100{
    width: 100%;
}

.width90{
    width: 90%;
}

.width80{
    width: 80%;
}

.width75{
    width: 75%;
}

.width51{
    width: 51%;
}

.width35{
    width: 35%;
}

.width30{
    width: 30%;
}

.width28{
    width: 28%;
}

.width25{
    width: 25%;
}

.width24{
    width: 24%;
}

.width23{
    width: 23%;
}

.width17{
    width: 17%;
}

.width12{
    width: 12%;
}

.mainStat{
font-size: 6.15rem;
}