.mainStat{
font-size: 63px !important;
height: 100px !important;
}

.dashboard{
    padding-left: 9px !important;
}

.box10{
  background-color: rgba(253, 253, 253, 0) !important;
  margin-bottom: 5px !important;
  margin-top: 20px;
  color: $grey2; 
}

.search-dachboard{
    width: 100%;
    padding: 0;
}

.font-size1{
    font-size: 1.85rem;
}


.ion-md-document {
    padding-right: 8px;
}





.todos{
    line-height: 2.4;
    font-size: 1.9rem;
div{
display: flex;}
    
    h5{
     flex: 1;
     width: 70px;
     white-space: initial !important;
     overflow: hidden;
//   line-height: 20px !important;
     text-overflow: ellipsis;
     color: #dadada;
     margin: 0px !important;
    }
    
h6{
    white-space: nowrap;
    overflow: hidden;
    width: 70px;
    margin-bottom: 10px;
    flex: 1;
    font-weight: bold;
    text-align: center;    
    margin: 0px;
    margin-right: 10px;
    
}
    
    span:first-child{
white-space: nowrap;
overflow: hidden;
width: 180px;
padding-left: 15px;
//    flex: 1;
}
span{
white-space: nowrap;
overflow: hidden;
width: 180px;
padding-left: 15px;
    flex: 1;
} 
}
    


.todos-arrow{
    line-height: 40px !important;
    margin-right: 10px;
}

.padding-left15{
padding-left: 15px !important;
}

.font18{
font-size: 1.8em;
}

.todos-padding{
    padding-right: 15px;
    padding-left: 42px;
}

.border-todos{
border-bottom: 1px solid #dadada;
}