.mainStat{
font-size: 63px !important;
height: 100px !important;
}

.dashboard{
    padding-left: 4px !important;
}

.box10{
  background-color: rgba(253, 253, 253, 0) !important;
  margin-bottom: 5px !important;
  margin-top: 20px;
  color: $grey2; 
}

.search-dachboard{
    width: 250px;
    padding: 0;
}