<ion-toolbar>
<ion-buttons style="flex: 1;" start>
<button (click)="dismiss()">
            <span>Cancel</span>
        </button>
  </ion-buttons>
    <ion-searchbar [ngModel]="searchQuery" (input)="getItems($event)" [placeholder]="name" hideCancelButton="true"></ion-searchbar>
</ion-toolbar>

<ion-content>
    <ion-list class="basic-list">
        <a detail-none href=# ion-item *ngFor="let item of items" (click)="dismiss(item)">
            <h2>{{item.name}}</h2>
            <!--ion-note item-right>
                <h2>{{item.id}}</h2>
            </ion-note-->
        </a>
    </ion-list>
<div *ngIf="is_empty">No {{name}} found yet</div>
</ion-content>