
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title>Invoices</ion-title>
</ion-navbar>

<ion-content padding class="invoices">
    
    <div *ngIf="is_empty" class="table grey2 menu-text">No Invoices yet</div>
    
    <ion-list padding  (click)="itemTapped()">
    <ion-item class="margin" *ngFor="#invoice of invoices">
    <p class="width38 tkts-table left">{{setDate(invoice.date) | date: "yMMMdd"}}</p> 
    <h2 class="width80 tkts-table">{{invoice.account_name}}</h2>
        <p item-right class="text">{{getCurrency(invoice.total_cost)}}</p>
        </ion-item>
        </ion-list>
       
</ion-content>

<action-button></action-button>
