.invoices {
//   margin-top: 10px;
    
  a{
    margin-top: 0px !important;
    color: $text !important;}
    
 a p{
    width: 47%;
    float: left;
    text-align: left;
    color: $text !important;
    padding-top: 4px;}
    
    a h2{
    width: 53%;
    float: right;
    text-align: left;
    color: $text !important;}

    a h4{
    width: 30%;
    text-align: right;
    color: $text !important;
    }}