.invoices {
//   margin-top: 10px;
    
  a{
    margin-top: 0px !important;
    color: $text !important;}
    
 a p{
    width: 45%;
    float: left;
    text-align: left;
    color: $text !important;
    padding-top: 11px;}
    
    a h2{
    width: 53%;
    float: right;
    text-align: left;
    color: $text !important;}

    a h3.account_name{
    font-size:1.6rem;
    }

    a h4{
    width: 23%;
    text-align: right;
    color: $text !important;
    }}