
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
<ion-buttons [hidden]="time.time_id" start class="searchbar">
        <button (click)="close()">
            <span primary>Cancel</span>
        </button>
    </ion-buttons>
  <ion-title class="width20" [hidden]="time.time_id || time.number">Add Time</ion-title>
  <ion-title class="ellipsis" [hidden]="!time.time_id || !time.number">Timelog #{{time.time_id}} by {{time.user_name}} @ {{setDate(time.date) | date: "MM/dd/yyyy HH:mm"}}</ion-title>
  <ion-title class="ellipsis" [hidden]="!time.number">Add Time to #{{time.number}} {{time.subject}}</ion-title>
</ion-navbar>
<ion-content class="timelog">
    <div class="list max-width700">
    <div class="img-top">
    <div  (click)="decrement()" class="left width30 button-timelog">
  <ion-item no-lines class="width100 blue4"><ion-icon name="remove-outline"></ion-icon></ion-item>
        </div>
    <ion-item no-lines class="blue3 left width30 button-timelog line-height5">
 <ion-input class="timelog-input width100 right margin" [value]="timecount | number:'1.2-2'" required></ion-input>
        </ion-item>
    <div (click)="increment()" class="right width30 button-timelog dashboardRight">
<ion-item no-lines class="width100 blue4"><ion-icon name="ios-add"></ion-icon></ion-item>
        </div>
  </div>
    <ion-item no-lines class="blue3">
    <ion-input type=date [value]="time.start_time | date: 'MM/dd/yyyy HH:mm'"></ion-input></ion-item>
        <ion-item no-lines class="blue3">
    <ion-input type=date [value]="time.stop_time | date: 'MM/dd/yyyy HH:mm'"></ion-input>
        </ion-item>   
 <div class="general-alignment2">     
    
     <select-list *ngIf="!time.number" [list]="selects.account" [preload]="true" (onChanged)='saveSelect($event)'></select-list> 

     <select-list *ngIf="!time.number" [list]="selects.project" [preload]="true" (onChanged)='saveSelect($event)'></select-list> 

     <select-list *ngIf="!time.number" [list]="selects.ticket" [preload]="true" (onChanged)='saveSelect($event)'></select-list>

     <select-list [list]="selects.tasktype" [preload]="true" (onChanged)='saveSelect($event)'></select-list>

        </div>    
                <form #addForm="ngForm">
                    <ion-item no-lines class="left toggle-width">
      <ion-toggle class="toggle" [(ngModel)]="isbillable"></ion-toggle>
    </ion-item>
        <p class="left width30 text-toggle">Billable</p>
                <div class="tooltips">
                       <textarea class="width100 textLogin commentText" type="text" placeholder="I completed..."
                       [(ngModel)]="timenote"
                       ngControl="note" #note="ngForm" maxlength="4000">{{time.note}}</textarea>
                       <!--span [hidden]="note.valid || note.untouched">Note is required and less 5000 chars</span--></div>
          
        <div class="img-top">
            <button secondary block type="submit" class="disable-hover button button-default button-block"
            [disabled]="!addForm.valid" (click)="onSubmit(addForm)">{{time.time_id ? 'Update' : 'Add'}} Time</button>
    </div>
    </form>
    </div>
</ion-content>