
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title class="ellipsis" [hidden]="!invoice.id">Send Invoice #{{invoice.id}} to {{invoice.account_name}}</ion-title>
  <ion-title class="ellipsis" [hidden]="invoice.id">Create Invoice @ {{ invoice.account_name }}</ion-title>
</ion-navbar>

<ion-content padding class="invoice-details">
 <ion-item>
    <p item-right class="text_list">{{setDate(invoice.date) | date: "yMMMdd"}}</p>
        </ion-item>
  <ion-item no-lines class="width65 left"><h2 item-left>Time</h2></ion-item>
    <ion-item no-lines class="width35 left"><h2 item-right>{{getCurrency(invoice.amount)}}</h2>
        </ion-item>
    
    <ion-item no-lines class="width65 left"><h2 item-left>Travel</h2>
        </ion-item>
    <ion-item no-lines class="width35 left"><h2 item-right>{{getCurrency(invoice.travel_cost)}}</h2>
        </ion-item>
    <ion-item no-lines class="width65 left"><h2 item-left>Expenses</h2>
        </ion-item>
    <ion-item no-lines class="width35 left"><h2 item-right>{{getCurrency(invoice.misc_cost)}}</h2>
        </ion-item>
    <ion-item no-lines class="width65 left"><h2 item-left>Adjustments</h2>
        </ion-item>
    <ion-item no-lines class="width35 left"><h2 item-right>{{getCurrency(invoice.adjustments)}}</h2>
        </ion-item>
    <ion-item class="width45 right basic-margin"></ion-item>
    <ion-item no-lines>
    <h2 item-right class="font-invoice">{{getCurrency(invoice.total_cost)}}</h2>
        </ion-item>
    <br>
    <ion-item padding>
        <br>
    <h2>Recipients</h2>
        </ion-item>
    
  
    
    <ion-list class="list">
        <div *ngFor="#recipient of invoice.recipients">
        <div>
      <ion-avatar class="ticketImg left recipient width23">
   <img class="avatarInvoice margin-top10" *ngIf="recipient.email" [alt]="recipient.fullname" [src]="recipient.email | Gravatar"/>
            </ion-avatar></div>
        
        <ion-item class="blue3 width80 invoicelist right margin" no-lines>
      <h3 class="recipient-calc left textLogin margin-top2 ellipsis">{{recipient.email}}</h3>
      <ion-checkbox class="buttonInvoice right topInvoice email-invoice" secondary checked="recipient.is_accounting_contact"></ion-checkbox>
    <!--button fab secondary class="buttonInvoice right topInvoice email-invoice">
      <ion-icon class="invoiceCircle" name="checkmark"></ion-icon>
    </button-->
  </ion-item>
        </div>
</ion-list>
    
        <div>
      <button (click)="close()" secondary class="disable-hover button button-default button-block img-top display">Send</button>
    </div>
</ion-content>
