.invoiceCircle {
    font-size: 2.3em !important;
}

.buttonInvoice {
    width: 30px;
    height: 30px;
}

.topInvoice {
    top: 9px;
}

.invoicelist{
    border-radius: 14px;
}

.avatarInvoice{
    max-width: 4rem;
    max-height: 4rem;
}

.recipient{
    min-width: 0rem;
    min-height: 0rem; 
    margin-bottom: 0px;
    height: 0px !important;
    }

.email-invoice{
height: 28px !important;
}

.display{
  display: inline-block
}

.font-invoice{
   font-size: 2.7rem !important;
}

.recipient-calc{
    width: calc(100% - 72px);
}

.margin-top10{
    margin-top: 10px !important;
}

.red{
background-color: $red;
}

.green{
background-color: $green;
}