
<ion-navbar *navbar><button [hidden]="!invoice.date" menuToggle><ion-icon name="menu"></ion-icon></button>
<ion-buttons [hidden]="invoice.date" start class="searchbar">
        <button (click)="close()">
            <span primary>Cancel</span>
        </button>
    </ion-buttons>
  <ion-title class="ellipsis">Invoice Details {{setDate(invoice.date) | date: "yMMMdd"}}</ion-title>
</ion-navbar>

<ion-content padding class="invoice-details">
 <ion-item>
    <p item-right class="text_list">{{setDate(invoice.date) | date: "yMMMdd"}}</p>
        </ion-item>
  <ion-item no-lines class="width75 left"><h2 item-left>Time</h2></ion-item>
    <ion-item no-lines class="width24 left"><h2 item-right>{{getCurrency(invoice.amount)}}</h2>
        </ion-item>
    
    <ion-item no-lines class="width75 left"><h2 item-left>Travel</h2>
        </ion-item>
    <ion-item no-lines class="width24 left"><h2 item-right>{{getCurrency(invoice.travel_cost)}}</h2>
        </ion-item>
    <ion-item no-lines class="width75 left"><h2 item-left>Expenses</h2>
        </ion-item>
    <ion-item no-lines class="width24 left"><h2 item-right>{{getCurrency(invoice.misc_cost)}}</h2>
        </ion-item>
    <ion-item no-lines class="width75 left"><h2 item-left>Adjustments</h2>
        </ion-item>
    <ion-item no-lines class="width24 left"><h2 item-right>{{getCurrency(invoice.adjustments)}}</h2>
        </ion-item>
    <ion-item class="width45 right basic-margin"></ion-item>
    <ion-item no-lines>
    <h2 item-right class="font-invoice">{{getCurrency(invoice.total_cost)}}</h2>
        </ion-item>
    <br>
    <ion-item padding>
        <br>
    <h2>Recipients</h2>
        </ion-item>
    
  
    
    <ion-list class="list">
        <div *ngFor="#recipient of invoice.recipients">
        <div>
      <ion-avatar class="ticketImg left recipient width23">
   <img class="avatarInvoice class_name" *ngIf="recipient.email" [alt]="recipient.fullname" [src]="recipient.email | Gravatar"/>
            </ion-avatar></div>
        
        <ion-item class="blue3 width80 invoicelist right margin" no-lines>
      <h3 class="width65 left textLogin margin-top2">{{recipient.email}}</h3>
    <button fab secondary class="buttonInvoice right topInvoice email-invoice">
      <ion-icon class="invoiceCircle" name="checkmark"></ion-icon>
    </button>
  </ion-item>
        </div>
</ion-list>
    
        <div>
      <button (click)="close()" secondary class="disable-hover button button-default button-block img-top display">Send</button>
    </div>
</ion-content>
