<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title>Tickets</ion-title>
</ion-navbar>

<div class="tickets mycontent">
    <div *ngIf="config.current.user.is_techoradmin" class="tabsTicket margin-bottom38">
        <ion-segment  class="position-button" [(ngModel)]="ticket_tab" (change)="onSegmentChanged($event)">
<ion-segment-button  value="user">User</ion-segment-button>
<ion-segment-button value="tech">Tech</ion-segment-button>
<ion-segment-button value="alt">Alt</ion-segment-button>
<ion-segment-button value="all">All Open</ion-segment-button>
  </ion-segment>
</div>    
     <img *ngIf="busy" class="imglogo img-padding" src="img/loading2.gif">

    <tickets-list [tickets]="tickets"></tickets-list>
    
</div>
<action-button></action-button>