
    <ul class="inner">
        <li *ngFor="#node of Nodes" class="list-tree">
            <div>
                <span (click)="onSelectNode(node)" class="{{node == SelectedNode ? 'expired' : ''}}">
                    {{node.name}} </span>
                <ion-icon [hidden]="!node.children" (click)="onExpand(node)" name="ios-arrow-{{node.isExpanded ? 'down' : 'forward'}}" role="img" class="button_circle2" aria-label="arrow"></ion-icon>  
            </div>
        <tree-view [Nodes]="node.children"
                   [SelectedNode]="SelectedNode"
                   (onSelectedChanged)="onSelectNode($event)"
                   (onRequestNodes)="onRequest($event)"
                   *ngIf="node.isExpanded">
        </tree-view>
    </li>
</ul>