.list-tree{
    margin-top: 10px;
    margin-bottom: 5px;  
}

.button-arrow{
    float: right;
    line-height: 20px;
    font-size: 1.8em !important;;
}

.class-list ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(52, 73, 94);
    font-size: 1.6rem;
}

.class-list div
{
    display: block;
    color: #FFF;
    background-color: map-get($colors, dark);
    width: 100%;
    padding: 15px 12px 15px 15px;
    text-decoration: none;
    border-bottom: 1px solid rgb(52, 73, 94)
}

ul {
    list-style: none;
    padding: 0;
}
ul .inner {
    padding-left: 2em;
    overflow: hidden;
}

.class-list li li div{
    background-color: #2E86C2;
}

.class-list li li li div{
    background-color: rgba(46, 134, 194, 0.74);
}