.table_account{
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}





.note-account {
    height: 40px;
    background: $blue3;
    margin-bottom: 15px;
    padding: 10px;
}
