.table_account{
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}





.note-account {
    height: 40px;
    background: #1F2C39;
    margin-bottom: 15px;
    padding: 10px;
}
