<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title>{{account.name}}</ion-title>
</ion-navbar>

<ion-content class="account-details">
  <div class="tabsTicket">
      <ion-segment [(ngModel)]="details_tab">
          <ion-segment-button value="Stat">Acc Stat</ion-segment-button>
          <ion-segment-button value="Info">Info</ion-segment-button>
          <ion-segment-button value="Projects">Projects</ion-segment-button>
          <ion-segment-button value="Notes">Notes</ion-segment-button>
          <ion-segment-button value="Files">Files</ion-segment-button>
  </ion-segment>
</div> 

    <div [ngSwitch]="details_tab">
        <div *ngSwitchWhen="'Stat'">
            <ion-list class="list img-top" no-lines style="height: 150px;">
        <div class="blue1 left width65 general-alignment2">
  <ion-item class="textLogin">Open Tickets</ion-item>
  <ion-item class="textLogin">Invoices</ion-item>
  <ion-item class="textLogin">Expenses</ion-item>
  <ion-item class="textLogin">Hours</ion-item>
    <br>
        </div>
        <div class="right width35 general-alignment2 space">
            <ion-item class="blue2">{{account.account_statistics.ticket_counts.open || 0}}</ion-item>
            <ion-item class="blue2">{{account.account_statistics.invoices || 0}}</ion-item>
            <ion-item class="blue2">{{getCurrency(account.account_statistics.expenses)}}</ion-item>
            <ion-item class="blue2" [innerHTML]="account.account_statistics.hours | More:[10000,'<div class=item-inner><ion-label>VV</ion-label></div>']"></ion-item>
        </div>
</ion-list>
    <br>
<ion-item class="item-button list padding">OPEN TICKETS</ion-item>
            <br>
            <tickets-list [tickets]="tickets"></tickets-list>
        </div>

        <ion-list class="list img-top" no-lines *ngSwitchWhen="'Info'">
        <ion-item class="margin"><h3 class="left width35 text-left">BWD Acct#</h3>
     <h3 class="right width50 tkts-table">{{account.bwd_number}}</h3>
        </ion-item>
        <ion-item class="margin">
     <h3 class="left width35 text-left">Acc#</h3>
     <h3 class="right width50 tkts-table">{{account.number}}</h3>
        </ion-item>
        <ion-item class="margin">
 <h3 class="left width35 text-left">Ref1#</h3>
 <h3 class="right width50 tkts-table">{{account.ref1}}</h3>
        </ion-item>
            <ion-item class="margin">
 <h3 class="left width35 text-left">Ref2#</h3>
 <h3 class="right width50 tkts-table">{{account.ref2}}</h3>
                </ion-item>
                <ion-item class="margin">
 <h3 class="left width35 text-left">Org/Indiv</h3>
 <h3 class="right width50 tkts-table">{{account.is_organization ? "Organization" : "Individual"}}</h3>
                    </ion-item>
                    <ion-item class="margin">
 <h3 class="left width35 text-left">Acc Rep</h3>
 <h3 class="right width50 tkts-table">{{account.representative_name}}</h3>
          </ion-item>
          <ion-item class="margin">
 <h3 class="left width35 text-left space-initial">Internal location</h3>
 <h3 class="right width50 tkts-table">{{account.internal_location_name}}</h3>
          </ion-item>
          <ion-item class="margin">
 <h3 class="left width35 text-left">Email Suffix</h3>
 <h3 class="right width50 tkts-table">{{account.email_suffix}}</h3>
         </ion-item>
         <ion-item class="margin">
 <h3 class="left width35 text-left">Address 1</h3>
 <h3 class="right width50 tkts-table">{{account.address1}}</h3>
         </ion-item>
        <ion-item class="margin">
 <h3 class="left width35 text-left">Address 2</h3>
 <h3 class="right width50 tkts-table">{{account.address2}}</h3>
       </ion-item>
      <ion-item class="margin">
 <h3 class="left width35 text-left">City</h3>
 <h3 class="right width50 tkts-table">{{account.city}}</h3>
          </ion-item>
       <ion-item class="margin">
 <h3 class="left width35 text-left">Postal Code</h3>
 <h3 class="right width50 tkts-table">{{account.zipcode}}</h3>
          </ion-item>
    <ion-item class="margin">
 <h3 class="left width35 text-left">Country</h3>
 <h3 class="right width50 tkts-table">{{account.country}}</h3>
        </ion-item>
           <ion-item class="margin">
 <h3 class="left width35 text-left">Phone 1</h3>
 <h3 class="right width50 tkts-table">{{account.phone1}}</h3>
               </ion-item>
               <ion-item class="margin">
 <h3 class="left width35 text-left">Phone 2</h3>
 <h3 class="right width50 tkts-table">{{account.phone2}}</h3>
               </ion-item>
        </ion-list> 
        
        <ion-list class="list img-top" *ngSwitchWhen="'Projects'">
            
            <div [hidden]="account.projects?.length" class="table grey2 menu-text">No Projects yet</div>
            
            <ion-item *ngIf="account.projects?.length" no-lines class="margin">
    <p class="text width32 text-left left"></p>
    <h3 class="width17 left table table_account">Open</h3>
            <h3 class="width17 left table table_account">Logged</h3>
    <h3 class="width17 left table table_account">Remain</h3>  
    <h3 class="width17 right table table_account">Complete</h3>
        </ion-item>
        
           
    <ion-item *ngFor="#project of account.projects">
    <p class="text width32 left table_account text-left">{{project.name}}</p>
    <h3 class="width17 left table">{{project.open_tickets}}</h3> 
    <h3 class="width17 left table">{{project.logged_hours}}</h3> 
    <h3 class="width17 left table">{{project.remaining_hours}}</h3> 
    <h3 class="width17 right table">{{project.complete}}</h3>
        </ion-item>
        </ion-list>
        
        <ion-list class="list general-alignment max-width700" *ngSwitchWhen="'Notes'">
            
            <div *ngIf="account.note?.length" class="width100 textLogin note-account" [innerHTML]="account.note" type="text"></div>
          
              <textarea [value]="account.note" class="width100 textLogin commentText" type="text" placeholder="Notes:"></textarea>
    <button secondary 
            class="button_reply width32 img-top">Save Notes</button>
        </ion-list>
            <ion-list class="list img-top" no-lines *ngSwitchWhen="'Files'">
                
                 <div [hidden]="account.files?.length" class="table grey2 menu-text">No Files yet</div>
    <ion-item *ngFor="#file of account.files">
        <div class="left width59 tkts-table" [innerHTML]="getFileLink(file)"></div>
    <h3 class="right width38 text-left space-initial">{{file.name}}</h3>
        </ion-item>

            </ion-list>
    </div>

</ion-content>
<action-button [data]="{'account': { id: account.id, name: account.name}}"></action-button> 