.table_account{
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
.width12{
    width:12%;
}

.projecttitle{
ion-label{
margin-bottom:0px;
}
p{
font-size: 1.35rem;
} 
}

.projectlist{
p{
padding-left:5px;
background-color: $grey;
line-height: 2.6;
font-size: 1.5rem;
margin-top: -3px !important;
}
h3
{
height: 36px;
background-color: $grey;
line-height: 1.9;
font-size: 1.9rem;
}
h3:first-of-type{
background-color: $blue2;
}
h3:last-child{
background-color: $blue2;
}
.item-inner{
    border-bottom: none;
}
ion-label{
    margin:0px;
}
}

.infolist{
h3{
height: 20px;
background-color: $grey;
line-height: 1.5;
font-size: 1.3rem;
margin-bottom: 0;
}
h3:nth-of-type(2n+1){
text-align:left;
}
h3:nth-of-type(2n){
background-color: $blue2;
}
ion-label{
    margin:0px;
}
}
.info{
    ion-item{
        min-height: 2.2rem !important;
    }
}

.note-account {
    height: 40px;
    background: $blue3;
    margin-bottom: 15px;
    padding: 10px;
    height: 100%;
    min-height: 100px;
}

.glow{
  box-shadow: 0 0 5px $text-color;
  border: 1px solid $text-color;
}


.time-label{
    margin-right: 0px !important;
}

.button-open{
    font-size: 20px !important;
    height: 4.8rem !important;
    line-height: 4.7rem !important;
}

.padding-top50{
    padding-top: 50px;
}

.height174{
    height: 174px;
}

.height32{
    height: 32px;
}

