.expenses{
        display: flex;
    
    li:first-child{
    flex: 3;
        width: 70px;
    }
    li:last-child{
    flex: 1;
    }
}
.Prepaidlist{
h3{
height: 20px;
background-color: $grey;
line-height: 1.5;
font-size: 1.3rem;
margin-bottom: 2px;
}
h3:nth-of-type(2n+1){
text-align:left;
}
h3:nth-of-type(2n){
background-color: $blue2;
}
.item-inner{
    border-bottom: none;
}
ion-label{
    margin:0px;
}
}



.expense-hours{
    font-weight: 600;}

