.button-size{
    padding-top: 2px;
    position: relative !important;
    text-decoration: underline;
    font-size: 2.2rem;
}

.button-calc{
    width: calc(100% - 55px);
}

.button-select{
 padding: 0;
 min-width: .9em;
 margin-bottom: 6px !important;
 color: #fff;
 /*margin-bottom: 0px;*/
 margin-top: 0px;
 line-height: 1.1;
    
    p{
    font-weight: bold;
    text-align: left !important;
    text-align: left;
    padding-left: 15px;
    }
    
    ion-label{
    padding-left: 15px;
    }
    
    ion-icon{
    padding-right: 15px !important;
    font-size: 1.8em;
    line-height: .67;
    pointer-events: none;
    }
}