// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "pages/hello-ionic/hello-ionic";

@import "pages/item-details/item-details";
    
.menu-bg{
 background-color: $sherpa_bg; 
}


.font_menu{
  font-size: 2.2rem !important;;
}

//menu
.ionFont {
    font-size: 26px;
    padding-right: 10px;
     width: 40px;
    height: 40px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: center;
}

.blue1 {
    background-color: $blue1;
    margin-top: 10px;
}

.blue2 {
    background-color: $blue2;
    text-align: center;
    margin-top: 10px;
}

.grey {
    background-color: $grey;
    text-align: center;
    margin-top: 10px;
}

.font_text{
font-size: $font-size;
}
     
    .activeBorder {
    border: 2px solid #88ddfa !important;
}

.list{
    width: 90%;
    margin: 0 auto;
 }

.optionLeft{
    width: 75%;
    float: left;
}

.optionRight{
    width: 25%;
    float: right;
}