    <!-- select  -->
    <center><div *ngIf="type == 'select'" class="list">
    	<ion-item no-lines class="labels color">{{name}}</ion-item>
        </div>
    <button *ngIf="type == 'select'" class="blue4 disable-hover button list button-default button-select" style="width: 90%" (click)="openRadio()">
        <ion-label class="tkts-table">{{value}}</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
    </button></center>

         <!-- date  -->
    <div *ngIf="type == 'date'" class="list general-alignment2">
        <ion-item no-lines class="labels color">{{name}}</ion-item>
        <ion-item no-lines class="blue3 top0 bottom5">
    <ion-label class="start-end2">{{value}}</ion-label>
    <ion-datetime [(ngModel)]="value" [displayFormat]="displayFormat" ></ion-datetime>  
            </ion-item>
        </div>

          <!-- text  -->
    <div *ngIf="type == 'text'" class="list">
    <ion-label class="{{isbutton ? 'center' : 'tkts-table'}}">{{name}}</ion-label>
    <input class="width100 blue3 subject-create commentText margin-bottom3" placeholder="text" style="margin-top: -10px;" required maxlength="200" [(ngModel)]="value"/>
            </div>

          <!-- null  -->
    <div *ngIf="type == 'num'" class="list">
    <ion-label class="{{isbutton ? 'center' : 'tkts-table'}}">{{name}}</ion-label>
    <input class="width100 blue3 subject-create commentText margin-bottom3" placeholder="number" style="margin-top: -10px;" type="number" [(ngModel)]="value" required/>
        </div>

    
 