
<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title class="padding-right24">Profile</ion-title>
</ion-navbar>
<ion-content class="timelog">
    <div class="list max-width700">
      <div>
        <img src="https://static.intercomassets.com/avatars/18419/square_128/Headshot-1462396639-1462447233.jpeg?1462447233" class="avatar">
        <h2 style="margin-bottom: 0px">{{profile.firstname}} {{profile.lastname}}</h2>
        <h4 style="margin-top: 0px">{{profile.email}}</h4>
      </div>

      <div *ngIf="profile.location_name">
        <form #loginForm="ngForm" novalidate>
          <ion-item no-lines class="labels color" style="font-size: 1.5rem;">Location:</ion-item>
          <input  class="width100 blue3 subject-create commentText margin-bottom3 noActived" placeholder="please add location" required maxlength="200" (ngModelChange)="changeText(name1)" #name1="ngForm" [ngModel]="profile.location_name"/>
        </form>
      </div>
      <div *ngIf="profile.phone || profile.phone != ''">
        <form #loginForm="ngForm" novalidate>
          <ion-item no-lines class="labels color" style="font-size: 1.5rem;">Phone:</ion-item>
          <input  class="width100 blue3 subject-create commentText margin-bottom3 noActived" placeholder="please add location" required maxlength="200" (ngModelChange)="changeText(name1)" #name1="ngForm" [ngModel]="profile.phone"/>
        </form>
      </div>
      <div *ngIf="profile.mobile_phone || profile.mobile_phone != ''">
        <form #loginForm="ngForm" novalidate>
          <ion-item no-lines class="labels color" style="font-size: 1.5rem;">Mobile Phone:</ion-item>
          <input  class="width100 blue3 subject-create commentText margin-bottom3 noActived" placeholder="please add location" required maxlength="200" (ngModelChange)="changeText(name1)" #name1="ngForm" [ngModel]="profile.mobile_phone"/>
        </form>
      </div>
      <div *ngIf="profile.skype || profile.skype != ''">
        <form #loginForm="ngForm" novalidate>
          <ion-item no-lines class="labels color" style="font-size: 1.5rem;">Skype:</ion-item>
          <input  class="width100 blue3 subject-create commentText margin-bottom3 noActived" placeholder="please add location" required maxlength="200" (ngModelChange)="changeText(name1)" #name1="ngForm" [ngModel]="profile.skype"/>
        </form>
      </div>
   <div class="general-alignment2">     
      
       <select-list [list]="selects.queue1"  ajax="true" preload="true" (onChanged)='saveSelect($event)'></select-list> 
       <ion-item no-lines class="left toggle-width" style="margin-top: 0px">
        <ion-toggle class="toggle" [(ngModel)]="is_queue1"></ion-toggle>
      </ion-item>
          <p class="left color">Showing push notification</p>

       <select-list [list]="selects.queue2" preload="true" (onChanged)='saveSelect($event)'></select-list> 
              <ion-item no-lines class="left toggle-width" style="margin-top: 0px">
        <ion-toggle class="toggle" [(ngModel)]="is_queue2"></ion-toggle>
      </ion-item>
          <p class="left color">Showing push notification</p>
  
       <select-list [list]="selects.queue3" preload="true" (onChanged)='saveSelect($event)'></select-list>
              <ion-item no-lines class="left toggle-width" style="margin-top: 0px">
        <ion-toggle class="toggle" [(ngModel)]="is_queue3"></ion-toggle>
      </ion-item>
          <p class="left color">Showing push notification</p>
          </div> 

                  <form #addForm="ngForm">
                      
            
          <div class="img-top">
              <button secondary block type="submit" class="disable-hover button button-default button-block"
              [disabled]="!addForm.valid" (click)="onSubmit(addForm)">Change Profile</button>
              <span class="span-block"></span>
      </div>
      </form>
      </div>]
</ion-content>