.avatar{
    max-width: 90px;
    float: left;
    border-radius:100px;
    border: 0px solid #000;
    margin-right: 10px;
}
.noActived{
    pointer-events: none;
}
.itemTech .item-inner{
	border-bottom: none;
}
