<ion-navbar *navbar><button menuToggle><ion-icon name="menu"></ion-icon></button>
  <ion-title>Search Tickets</ion-title>
</ion-navbar>


<ion-content class="has-header">
  <ion-searchbar [focuser] debounce="400" [(ngModel)]="term" (input)="searchItems($event)" placeholder="Search Tickets (min 3 chars)" hideCancelButton="true"></ion-searchbar>
<img *ngIf="busy" class="imglogo img-padding" src="img/loading2.gif">
    <ion-list class="list">
        
        <a detail-none href=# ion-item class="basic-margin text-left" *ngFor="let item of items" (click)="dismiss(item)">
            <h2 class="color">#{{item.number}} - {{item.subject}} ({{item.user_firstname}} {{item.user_lastname}})</h2>
            <!--ion-note item-right>
                <h2>{{item.id}}</h2>
            </ion-note-->
        </a>

    </ion-list>
<div *ngIf="is_empty" class="table grey2 menu-text">No Tickets found yet</div>

</ion-content>