.ticket-create {
    margin-top: 34px;
}

.subject-create {
     height: 38px !important;
}

.button-calc{
    width: calc(100% - 50px);
}

.button-ticket{
       margin-left: 7px;
}

.margin-bottom10{
margin-bottom: 10px !important;
}

 @media (max-height: 568px)  {
   .commentText{
   	height: 50px !important;
   }
 }

.button-size{
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 2px;
}