.container_list
{
width: 100%;
float: right;
}


.accountlist{
line-height: 2.4;
font-size: 1.9rem;

div {
display: flex;
text-align: center;

span:first-child
{
text-overflow: ellipsis;
padding-left: 15px;
text-align: left;
flex: 1;
height: 45px;
}

span{
white-space: nowrap;
overflow: hidden;
background-color: $grey;
width: 75px;
margin-bottom: 10px;
}

span:last-child{
background-color: $blue2;
}
}
}