.table span.box1{
    background-color: $grey;
    width: 35%;
    float: left;
    padding-left: 15px;
    text-align: left;
}

.table span.box2{
    background-color: $grey;
    width: 23%;
    float: left;
}

.table span.box3{
    background-color: $grey;
    width: 23%;
    float: left;
    margin-bottom: 10px;
}

.table span.box4{
    background-color: $blue2;
    width: 18%;
    float: right;
}