div.selection {
  font-size: 22px;
  display: block;
  text-align: center;
  padding-top: 5%;
}


.text_list{
    color: #fff !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 19px;
    text-overflow: ellipsis;
}

