.expenses{
        display: flex;
    
    li:first-child{
    flex: 3;
        width: 70px;
    }
    li:last-child{
    flex: 1;
    }
}

    .expense-center ion-label{
    margin: 5px 8px 5px 0;
    }

.expense-hours{
    font-weight: 600;}