<div>
<button type="button" (click)="callback($event)"  left fab class="button-attach attach"><ion-icon class="button-font action-but" name="md-attach"></ion-icon></button><br/>
<input type="file" (change)="filesAdded($event)" style="display: none" [multiple]="multi" #input />
    <div *ngIf="files?.length" class="right margin-top3">
        <a block (click)="reset()">Clear</a>
    <button fab class="red buttonInvoice email-invoice button-fab position-initial">
        <ion-icon class="invoiceCircle" name="close"></ion-icon></button>
    </div>
<div *ngFor="let file of files">
    <span class="span-img"><ion-icon name="{{isImage(file.name)}}" role=img dark class="button-font image ion-{{isImage(file.name)}}"></ion-icon>&nbsp;<p class="left width80">{{file.name}}&nbsp;({{humanizeBytes(file.size)}})</p></span>
	<br>
</div>

<span class="error-button" [innerHTML]="'Selected File(s) Error: <br>' + error"></span>
<button type="button" *ngIf="!fileDest?.ticket" [disabled]="!files.length" block secondary (click)="onUpload()">Upload</button>
</div>