.pr8
{
margin-right: 19px;
}

.todos{
    line-height: 2.4;
    font-size: 1.9rem;

    .button-inner {
    color: black;
    overflow: visible !important;
    font-size: 1.5em;
    }

div{
display: flex;}
    
    h5{
     flex: 1;
     width: 70px;
     white-space: nowrap !important;
     overflow: hidden;
//   line-height: 20px !important;
     text-overflow: clip;
     color: #dadada;
     margin: 0px !important;
        line-height: 25px;
    margin-top: 6px !important;
    }
   
    
 .todos-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
     
h6:nth-child(2){
    width: 90px;
     flex: 1;
    }
    
    h6{
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: right;    
    margin: 0px;
    margin-right: 10px;
    
}}
 
span:first-child{
white-space: nowrap;
overflow: hidden;
//    flex: 1;
}
span{
white-space: nowrap;
overflow: hidden;
    flex: 1;
} 
    
    hr{
    margin-top: 2px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-color: $hr;
    }
}
   .colorblue6{
    color: $blue6;
}

.todos-arrow{
    line-height: 40px !important;
}

.padding-left15{
padding-left: 15px !important;
}

.font18{
font-size: 1.8em;
}

.todos-padding{
    padding-right: 15px;
    padding-left: 12px;
}

.border-todos{
border-bottom: 1px solid #dadada;
}

.width_calc100-40{
width: calc(100% - 40px) !important;
}
.ticketNumber{
    font-size: 1.6rem !important;
    color: #ffffff !important;
    font-weight: 400 !important;
    cursor:pointer;
}
@media screen and (max-width: 567px){
    .TktSubject{
        display:none;
    }    
}
.todos-flex h6{
    font-size: 1.4rem !important;
    font-weight: 200!important;
}

