<ion-content padding class="login">
  <div class="list max-width">
      <img class="imglogo img-padding" src="img/logo.png">
      <form #loginForm="ngForm" novalidate>
  
      <div class="tooltips">
          <input class="width100 blue3 subject-create commentText" type="email" [(ngModel)]="login.username" placeholder="email" ngControl="email" #username="ngForm" required pattern="^[^@\s]+@[^@\s]+(\.[^@\s]+)+$"/>        
          <span *ngIf="username.dirty && !username.valid">Valid Email is required</span></div>
          <br>
      <div class="tooltips">
          <input class="width100 blue3 subject-create commentText" [(ngModel)]="login.password" placeholder="password" ngControl="password" type="password" #password="ngForm" required/>
          <span *ngIf="password.dirty && !password.valid">Password is required</span></div>
        <br>
          <button class="login-margin"
                  [disabled]="!loginForm.valid" (click)="onLogin(loginForm)" type="submit" block secondary>Login</button>
          <br>
          <div>
          <ul class="googleStripes">
        <li></li><li></li><li></li><li></li>
      </ul>
              <button class="login-margin text-google itemTech" (click)="onGoogleSignip()" block light>Sign in with&nbsp;<big>Google</big></button>
              </div>
          <br>
  <button  (click)="onSignup()" block dark class="login-margin login-text">Start a New SherpaDesk Organization</button>
      </form>
    </div>
</ion-content>
